<div class="sticky-top-nav">
  <header class="dashboard-header">
    <div class="header-left">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input
          #searchInput
          type="text"
          placeholder="输入城市名"
          class="glass-input"
          id="city-search"
          (keyup.enter)="onSearch(searchInput.value)"
        />
      </div>
    </div>
    <div class="header-right">
      <span class="location-badge"> 📍 {{ weatherData().location.name }} </span>
      @if (!isCurrentLocation()) {
        <button class="fav-heart-btn" type="button">
          <span class="heart-icon">❤️</span>
        </button>
      }
      <button class="theme-toggle" (click)="toggleTheme()">
        {{ isDarkTheme() ? '🌙' : '☀️' }}
      </button>
    </div>
  </header>
  <!-- <app-favorites
    [activeId]="activeFavId()"
    [cities]="favoriteCities()"
    (citySelected)="onFavCitySelected($event)"
  /> -->
</div>

<div class="grid-layout">
  <aside class="left-col">
    <app-current-weather
      class="top-card"
      [weather]="weatherData().now"
      [location]="weatherData().location"
    />
    <app-daily-forecast [forecasts]="weatherData().forecasts" />
  </aside>

  <main class="right-col">
    <app-hourly-forecast class="top-card" [forecasts]="weatherData().forecast_hours" />
    <app-weather-details [weather]="weatherData().now" />

    @if (weatherData().indexes && weatherData().now.aqi) {
      <app-aqi
        [aqi]="weatherData().now.aqi!"
        [pm25]="weatherData().now.pm25!"
        [pm10]="weatherData().now.pm10!"
        [o3]="weatherData().now.o3!"
        [no2]="weatherData().now.no2!"
        [so2]="weatherData().now.so2!"
        [co]="weatherData().now.co!"
      />
      <app-life-indexes [indexes]="weatherData().indexes!" />
    }
  </main>
</div>
